<html>
    <head>
        <title>{{ title }}</title>
        <description>{{ description }}</description>
        <link rel="alternate" type="application/rss+xml" title="Subscribe to What's New" href="./rss" />
    </head>
    <body>
        <form method="POST">
            <label for="title">title</label>
            <input name="title" id="title"/>
            <label for="link">link</label>
            <input name="link" id="link"/>
            <label for="description">description</label>
            <input name="description" id="description"/>
            <input type="submit" value="Submit">
        </form>

        <h1>{{ title }}</h1>
        <h2>{{ description }}</h2>
        {% for entry in entries %}
        <div><p>{{ entry.entry_id }}: {{ entry.title }}: {{ entry.description }}</p></div>
        {% endfor %}
    </body>
</html>